---
// src/pages/inicio/Cardservicios.astro

import c1 from "../../assets/cardservicios/c1.jpg";
import c2 from "../../assets/cardservicios/c2.jpg";
import c3 from "../../assets/cardservicios/c3.jpg";
import c4 from "../../assets/cardservicios/c4.jpg";
import c5 from "../../assets/cardservicios/c5.jpg";
import c6 from "../../assets/cardservicios/c6.jpg";
---

<section class="relative bg-black">
    <div class="flex flex-col items-center">
        <div class="w-4/5 mt-30">
            <h2 class="anim-titulo text-2xl md:text-4xl font-bold text-center">
                NUESTROS <span class="text-titulos">SERVICIOS </span>
            </h2>
            <p
                class="anim-texto text-textos font-normal text-base md:text-lg tracking-wide leading-relaxed text-center mb-5 mt-5 md:mt-0 md:mb-40"
            >
                Creamos soluciones digitales estratégicas para tu marca.
            </p>
            <!-- SECCION PARA DESKTOP -->
            <div class="hidden md:block">
                <!-- CONTAINER SCROLL -->
                <div class="h-[200vh] md:h-[600vh]">
                    <div
                        class="sticky top-0 md:top-[300px] h-[50svh] md:h-[calc(50vh-50px)] flex items-center justify-center"
                    >
                        <div
                            class="relative w-full max-w-5xl h-[300px] sm:h-[340px] md:h-[500px] px-4 md:px-0"
                        >
                            <!-- CARD 1 -->
                            <!-- IMAGEN 1 -->
                            <a
                                href="/servicios/branding"
                                class="card w-full h-[280px] sm:h-[320px] md:h-[400px] bg-cover bg-center relative"
                                style={`background-image: url(${c1.src}); --i:0`}
                            >
                                <div class="absolute inset-0 bg-black/80"></div>
                                <div
                                    class="relative p-4 sm:p-5 md:p-10 h-full flex flex-col justify-end"
                                >
                                    <!-- TITULO 1 -->
                                    <h3
                                        class="text-lg sm:text-xl md:text-2xl font-bold flex flex-col sm:flex-row gap-1 sm:gap-2"
                                    >
                                        BRANDING - <span class="text-titulos"
                                            >IDENTIDAD DE MARCA</span
                                        >
                                    </h3>
                                    <!-- TEXTO 1 -->
                                    <p
                                        class="text-xs sm:text-sm md:text-base text-textos leading-snug md:leading-normal"
                                    >
                                        No todos los negocios necesitan lo
                                        mismo, por eso nuestros paquetes
                                        incluyen una cantidad determinada de
                                        piezas de diseño que puedes utilizar en
                                        los materiales que más necesites.
                                    </p>
                                    <!-- BOTON VER SERVICIO -->
                                    <div class="flex justify-end">
                                        <span
                                            class="mt-3 md:mt-4 text-sm md:text-base text-titulos flex items-center gap-2"
                                        >
                                            Ver servicio →
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <!-- CARD 2 -->
                            <a
                                href="/servicios/social-media"
                                class="card w-full h-[280px] sm:h-[320px] md:h-[400px] bg-cover bg-center relative"
                                style={`background-image: url(${c2.src}); --i:0`}
                            >
                                <div class="absolute inset-0 bg-black/80"></div>

                                <div
                                    class="relative p-10 h-full flex flex-col justify-end"
                                >
                                    <h3
                                        class="text-lg sm:text-xl md:text-2xl font-bold flex flex-col sm:flex-row gap-1 sm:gap-2"
                                    >
                                        SOCIAL MEDIA  - CREACIÓN DE CONTENIDO
                                        <span class="text-titulos">
                                            + GESTIÓN ESTRATÉGICA</span
                                        >
                                    </h3>

                                    <p
                                        class="text-xs sm:text-sm md:text-base text-textos leading-snug md:leading-normal"
                                    >
                                        Transformamos tus redes sociales en una
                                        herramienta de crecimiento para tu
                                        negocio. Desarrollamos estrategias,
                                        contenido visual y planes de publicación
                                        que aumentan la visibilidad de tu marca,
                                        fortalecen la relación con tus clientes
                                        y generan oportunidades reales de venta.
                                    </p>

                                    <div class="flex justify-end">
                                        <span
                                            class="mt-3 md:mt-4 text-sm md:text-base text-titulos flex items-center gap-2"
                                        >
                                            Ver servicio →
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <!-- CARD 3 -->
                            <a
                                href="/servicios/audiovisual"
                                class="card w-full h-[280px] sm:h-[320px] md:h-[400px] bg-cover bg-center relative"
                                style={`background-image: url(${c3.src}); --i:0`}
                            >
                                <div class="absolute inset-0 bg-black/80"></div>

                                <div
                                    class="relative p-10 h-full flex flex-col justify-end"
                                >
                                    <h3
                                        class="text-lg sm:text-xl md:text-2xl font-bold flex flex-col sm:flex-row gap-1 sm:gap-2"
                                    >
                                        CONTENIDO <span class="text-titulos"
                                            >AUDIOVISUAL</span
                                        >
                                    </h3>
                                    <p
                                        class="text-xs sm:text-sm md:text-base text-textos leading-snug md:leading-normal"
                                    >
                                        Producimos contenido visual de alta
                                        calidad para fortalecer la presencia de
                                        tu marca, comunicar tu propuesta de
                                        valor y conectar con tu audiencia a
                                        través de fotografía, video y edición
                                        profesional.
                                    </p>

                                    <div class="flex justify-end">
                                        <span
                                            class="mt-3 md:mt-4 text-sm md:text-base text-titulos flex items-center gap-2"
                                        >
                                            Ver servicio →
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <!-- CARD 4 -->
                            <a
                                href="/servicios/marketing"
                                class="card w-full h-[280px] sm:h-[320px] md:h-[400px] bg-cover bg-center relative"
                                style={`background-image: url(${c4.src}); --i:0`}
                            >
                                <div class="absolute inset-0 bg-black/80"></div>

                                <div
                                    class="relative p-10 h-full flex flex-col justify-end"
                                >
                                    <h3
                                        class="text-lg sm:text-xl md:text-2xl font-bold flex flex-col sm:flex-row gap-1 sm:gap-2"
                                    >
                                        MARKETING DIGITAL, CRECIMIENTO
                                        <span class="text-titulos">
                                            Y POSICIONAMIENTO</span
                                        >
                                    </h3>

                                    <p
                                        class="text-xs sm:text-sm md:text-base text-textos leading-snug md:leading-normal"
                                    >
                                        Diseñamos estrategias digitales
                                        enfocadas en aumentar tu visibilidad,
                                        atraer nuevos clientes y fortalecer la
                                        relación con quienes ya conocen tu
                                        marca.
                                    </p>

                                    <div class="flex justify-end">
                                        <span
                                            class="mt-3 md:mt-4 text-sm md:text-base text-titulos flex items-center gap-2"
                                        >
                                            Ver servicio →
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <!-- CARD 5 -->
                            <a
                                href="/servicios/web"
                                class="card w-full h-[280px] sm:h-[320px] md:h-[400px] bg-cover bg-center relative"
                                style={`background-image: url(${c5.src}); --i:0`}
                            >
                                <div class="absolute inset-0 bg-black/80"></div>

                                <div
                                    class="relative p-10 h-full flex flex-col justify-end"
                                >
                                    <h3
                                        class="text-lg sm:text-xl md:text-2xl font-bold flex flex-col sm:flex-row gap-1 sm:gap-2"
                                    >
                                        DISEÑO WEB <span class="text-titulos">
                                            Y CREACIÓN DE PÁGINAS WEB</span
                                        >
                                    </h3>
                                    <p
                                        class="text-xs sm:text-sm md:text-base text-textos leading-snug md:leading-normal"
                                    >
                                        Creamos experiencias digitales que
                                        combinan diseño estratégico, alto
                                        rendimiento y automatización inteligente
                                        para optimizar procesos, mejorar la
                                        experiencia de usuario, y generar
                                        resultados reales para tu negocio.
                                    </p>

                                    <div class="flex justify-end">
                                        <span
                                            class="mt-3 md:mt-4 text-sm md:text-base text-titulos flex items-center gap-2"
                                        >
                                            Ver servicio →
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <!-- CARD 6 -->
                            <a
                                href="/servicios/consultoria"
                                class="card w-full max-w-5xl h-[400px] bg-cover bg-center relative"
                                style={`background-image: url(${c6.src}); --i:6`}
                            >
                                <div class="absolute inset-0 bg-black/80"></div>

                                <div
                                    class="relative p-10 h-full flex flex-col justify-end"
                                >
                                    <h3
                                        class="text-lg sm:text-xl md:text-2xl font-bold flex flex-col sm:flex-row gap-1 sm:gap-2"
                                    >
                                        ASESORIA 1:1 <span class="text-titulos">
                                            ESTRATEGIAS PERSONALIZADAS</span
                                        >
                                    </h3>
                                    <p
                                        class="text-xs sm:text-sm md:text-base text-textos leading-snug md:leading-normal"
                                    >
                                        Analizamos tu negocio y diseñamos una
                                        estrategia personalizada para impulsar
                                        su crecimiento y alcanzar tus objetivos.
                                    </p>

                                    <div class="flex justify-end">
                                        <span
                                            class="mt-3 md:mt-4 text-sm md:text-base text-titulos flex items-center gap-2"
                                        >
                                            Ver servicio →
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SECCION PARA MOVIL -->

    <div class="flex flex-col items-center gap-4 md:hidden">
        <!-- CONTENEDOR DE LAS CARDS -->
        <div class="w-4/5 mt-15 flex flex-col gap-4 md:hidden">
            <!-- CARD 1 -->
            <a
                href="/servicios/branding"
                class="relative h-[280px] rounded-3xl overflow-hidden bg-cover bg-center"
                style={`background-image:url(${c1.src})`}
            >
                <div class="absolute inset-0 bg-black/80"></div>

                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h3 class="text-lg font-bold">
                        BRANDING - <span class="text-titulos"
                            >IDENTIDAD DE MARCA</span
                        >
                    </h3>
                    <p class="text-sm text-textos">
                        No todos los negocios necesitan lo mismo...
                    </p>
                    <span class="text-xs md:text-lg text-titulos"
                        >Ver servicio →</span
                    >
                </div>
            </a>
            <!-- CARD 2 -->

            <a
                href="/servicios/social-media"
                class="relative h-[280px] rounded-3xl overflow-hidden bg-cover bg-center"
                style={`background-image:url(${c2.src})`}
            >
                <div class="absolute inset-0 bg-black/80"></div>

                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h3 class="text-lg font-bold">
                        SOCIAL MEDIA
                        <span class="text-titulos">+ GESTIÓN ESTRATÉGICA</span>
                    </h3>

                    <p class="text-sm text-textos">
                        Transformamos tus redes sociales en ...
                    </p>

                    <span class="text-xs md:text-lg text-titulos"
                        >Ver servicio →</span
                    >
                </div>
            </a>
            <!-- CARD 3 -->

            <a
                href="/servicios/audiovisual"
                class="relative h-[280px] rounded-3xl overflow-hidden bg-cover bg-center"
                style={`background-image:url(${c3.src})`}
            >
                <div class="absolute inset-0 bg-black/80"></div>

                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h3 class="text-lg font-bold">
                        CONTENIDO
                        <span class="text-titulos">AUDIOVISUAL</span>
                    </h3>
                    <p class="text-sm text-textos">
                        Producimos contenido visual de alta calidad...
                    </p>

                    <span class="text-xs md:text-lg text-titulos"
                        >Ver servicio →</span
                    >
                </div>
            </a>
            <!-- CARD 4 -->
            <a
                href="/servicios/marketing"
                class="relative h-[280px] rounded-3xl overflow-hidden bg-cover bg-center"
                style={`background-image:url(${c4.src})`}
            >
                <div class="absolute inset-0 bg-black/80"></div>

                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h3 class="text-lg font-bold">
                        MARKETING DIGITAL CRECIMIENTO
                        <span class="text-titulos"> Y POSICIONAMIENTO</span>
                    </h3>

                    <p class="text-sm text-textos">
                        Diseñamos estrategias digitales enfocadas en...
                    </p>
                    <span class="text-xs md:text-lg text-titulos"
                        >Ver servicio →</span
                    >
                </div>
            </a>
            <!-- CARD 5 -->
            <a
                href="/servicios/web"
                class="relative h-[280px] rounded-3xl overflow-hidden bg-cover bg-center"
                style={`background-image:url(${c5.src})`}
            >
                <div class="absolute inset-0 bg-black/80"></div>

                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h3 class="text-lg font-bold">
                        DISEÑO WEB
                        <span class="text-titulos">CREACIÓN DE PÁGINAS WEB</span
                        >
                    </h3>

                    <p class="text-sm text-textos">
                        Creamos experiencias digitales que combinan diseño...
                    </p>
                    <span class="text-xs md:text-lg text-titulos"
                        >Ver servicio →</span
                    >
                </div>
            </a>
            <!-- CARD 6 -->
            <a
                href="/servicios/consultoria"
                class="relative h-[280px] rounded-3xl overflow-hidden bg-cover bg-center"
                style={`background-image:url(${c6.src})`}
            >
                <div class="absolute inset-0 bg-black/80"></div>

                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h3 class="text-lg font-bold">
                        ASESORIA 1:1
                        <span class="text-titulos"
                            >ESTRATEGIAS PERSONALIZADAS
                        </span>
                    </h3>

                    <p class="text-xs md:text-lg text-textos">
                        Analizamos tu negocio y diseñamos una estrategia
                        personalizada...
                    </p>

                    <span class="text-xs md:text-lg text-titulos"
                        >Ver servicio →</span
                    >
                </div>
            </a>
        </div>
    </div>
</section>
<style>
    .card {
        position: absolute;
        inset: 0;
        border-radius: 1.5rem;
        opacity: 0;
        transform: scale(0.95) translateY(40px);
        transition: all 0.6s ease;
        pointer-events: none;
    }

    .card.active {
        opacity: 1;
        transform: scale(1) translateY(0);
        z-index: 50;
        pointer-events: auto;
    }

    .card:nth-child(1) {
        z-index: 6;
    }
    .card:nth-child(2) {
        z-index: 5;
    }
    .card:nth-child(3) {
        z-index: 4;
    }
    .card:nth-child(4) {
        z-index: 3;
    }
    .card:nth-child(5) {
        z-index: 2;
    }
    .card:nth-child(6) {
        z-index: 1;
    }
    .anim-titulo {
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease;
    }

    .anim-texto {
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease;
    }

    .anim-visible {
        opacity: 1;
        transform: translateY(0);
    }
</style>

<!-- FUNCIONALIDAD DE LAS CARD -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // ANIMACIÓN H2 Y P
        const titulo = document.querySelector(".anim-titulo");
        const texto = document.querySelector(".anim-texto");

        if (titulo && texto) {
            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            titulo.classList.add("anim-visible");

                            setTimeout(() => {
                                texto.classList.add("anim-visible");
                            }, 300);
                        } else {
                            titulo.classList.remove("anim-visible");
                            texto.classList.remove("anim-visible");
                        }
                    });
                },
                {
                    threshold: 0.3,
                },
            );

            observer.observe(titulo);
        }

        // EFECTO CARDS SCROLL
        const section = document.querySelector("section");
        const cards = document.querySelectorAll(".card");

        window.addEventListener("scroll", () => {
            if (!section || cards.length === 0) return;

            const rect = section.getBoundingClientRect();

            const progress = Math.min(
                1,
                Math.max(
                    0,
                    -rect.top / (section.offsetHeight - window.innerHeight),
                ),
            );

            const index = Math.min(
                cards.length - 1,
                Math.floor(progress * cards.length),
            );

            cards.forEach((card, i) => {
                card.classList.toggle("active", i === index);
            });
        });
    });
</script>
